.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background: black;
    color: aliceblue;
    position: sticky;
    top: 0%;
}
/* h1{

} */
@media screen and (max-width: 415px){
    h1{
      text-align: center;
      font-size: 25px;
    }
}
@media screen and (max-width:956px){
    .heading{
        padding: 5%;
    }
}